
#define CREDENTIALS_SSID ""
#define CREDENTIALS_PWD  ""
#define CREDENTIAL_FRONTEND_URL "http://example.com/room.php"
#define CREDENTIAL_BACKEND_URL "http://example.com/data.php"
#define CFG_ROOM_NAME "room"
